<h2>Album Controller</h2>
<p class="panel callout">Shows ng-repeat directive.</p>
<div ng-controller="AlbumController">
    <table>
        <thead>
            <tr>
                <td>Sequence + 1</td>
                <td>Name</td>
                <td>Duration</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="album in albums">
                <td>{{$index + 1}}</td>
                <td>{{album.name}}</td>
                <td>{{album.duration}}</td>
            </tr>
        </tbody>
    </table>
</div>